{% extends 'base.html.twig' %}

{% block header_title %}
    Oops
{% endblock %}

{% block header_content %}
    Il semblerait que vous vous soyez perdu(e) !
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center">
        <div class="col-md-4 text-center">
            <p>On peut vous aider à retrouver votre chemin...</p>
            <a href="{{ path('homepage') }}" class="btn btn-info">Revenir à l'accueil</a>
        </div>
    </div>
{% endblock %}